.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: linear-gradient(
      180deg,
      rgba(75, 46, 131, 0.55) 0%,
      rgba(75, 46, 131, 0.46) 22.92%,
      rgba(255, 255, 255, 0) 59.9%,
      rgba(80, 51, 134, 0.12) 99.99%
    ),
    url("images/uw_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* navbar */
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: larger;
}

.navigation-bar img {
  float: left;
  width: 280px;
  padding: 14px 16px;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: block;
}

.navigation-bar li {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
}

.navigation-bar li:hover {
  background-color: #111;
}

/* header  */

.title-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* search bar */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

  font-family: "Encode Sans", sans-serif;
  font-size: medium;
}

.inputWithIcon input[type="text"] {
  width: 46vw;
  height: 6vh;

  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding-left: 50px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 10px 15px;
  color: #aaa;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4b2e83;
  box-shadow: 0 0 8px 0 #4b2e83;
}

/* card stuff */
.card {
  background: white;
  margin-bottom: 2em;
  justify-content: center;
}

.card a {
  color: black;
  text-decoration: none;
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 12%, 93%);
}

.card img {
  display: inline-block;
  border: 0;
  width: 50%;
  height: 110px;
  object-fit: scale-down;
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 40em) {
  .inputWithIcon input[type="text"] {
    width: 86vw;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1em;
  }

  .card {
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 52em) {
  .inputWithIcon input[type="text"] {
    width: 86vw;
  }

  .centered {
    max-width: 52em;
  }
}

@media screen and (min-width: 60em) {
  .inputWithIcon input[type="text"] {
    width: 44vw;
  }

  .card {
    flex: 0 1 30%;
  }
}
