.uw-background {
  background: linear-gradient(
      180deg,
      rgba(75, 46, 131, 0.55) 0%,
      rgba(75, 46, 131, 0.46) 22.92%,
      rgba(255, 255, 255, 0) 59.9%,
      rgba(80, 51, 134, 0.12) 99.99%
    ),
    url("../../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: "Encode Sans", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #ffffff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: 2rem;
  margin: 50px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.circle-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.no-box-shadow {
  box-shadow: none !important;
}

.gray-background {
  background-color: lightgray !important;
}

.no-round-corner {
  border-radius: 0px !important;
  background-color: lightgreen;
}

.centerPadding {
  padding-left: 25%;
  padding-right: 25%;
}
